<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/header") %>
    <%- include("partials/nav") %>
    <main>
      <h1>Welcome to CSE Motors</h1>
      <p>Your one-stop shop for quality vehicles.</p>

      <section class="car-showcase">
        <img src="/images/showroomcars.jpg" alt="Showroom of vehicles">
        <h2>Great deals available now!</h2>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
